body, input, button, td, th, option, select {
	font-family: verdana, sans-serif;
	font-size: 9pt;
}

body {
	margin: 0;
	line-height: 1.5;
}

body.minimal {
	text-align: center;
	margin: 10em;
}

.formValidationError {
	color: red;
}

h1 {
	font-size: 12pt;
	float: right;
	margin: 0;
	letter-spacing: 3;
}

h2 {
	font-size: 12pt;
}


div.content {
	padding: 1em;
}

div.header {
	border-bottom: 1px solid #dee3e7;
	padding: 1em;
}

div.header div.navigation a {
	padding: 1em;
}

div.footer {
	margin-top: 3em;
	text-align: center;
	opacity: .4;
	cursor: help;
}

div.footer:hover {
	opacity: 1;
}

label {
	padding-right: 1em;
	vertical-align: top;
	min-width: 14em;
	display: inline-block;
}

fieldset {
	border: 0;
}

fieldset p.description {
	display: inline-block;
	padding-left: 2em;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: lightblue;
	text-decoration: underline;
}

button {
	background-color: lightgreen;
	border: 1px outset #efefef;
	padding: .6em;
	min-width: 6em;
	text-align: left;
}

button:hover {
	background-color: lime-green;
}

form {
	border: 1px solid #999;
	background-color: beige;
	margin: 2em;
	padding: 1em;
}

table, td, th {
	border: 1px solid #efefef;
	padding: .6em;
	text-align: left;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	background-color: LightBlue;
}

tr:hover td {
	background-color: beige;
}

img.imageIcon {
	vertical-align: middle;
	padding-right: .3em;
}

fieldset:first-child {
	border-top: 0;
	margin-top: 0;
}

input {
	min-width: 20em;
}

option[selected] {
	font-weight: bold;
}

div.answeringForm fieldset {
	background-color: #EDF2EF;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid #bbb;
	padding: 2em;
}

span.questionImage {
	display: block;
	padding-top: 1em;
	text-align: center;
}

div.answeringForm p.description {
	display: block;
}

div.answeringForm p.description img.imageIcon {
	display: none;
}

tr.questionsListLevelSeparator {
	background-color: #efefef;
	height: 2px;
}

#questionsTable {
	-moz-user-select: none;
	user-select: none;
}

div.listLevels {
	text-align: center;
}

div.levelSelect {
	margin: auto;
	width: 582px;
	display: inline-block;
	text-align: center;
	margin: 1em;
}

div.levelSelect a {
	border: 1px solid #999;
	display: block;
	margin: auto;
	margin-bottom: 1em;
}

div.levelSelect a p.title {
	margin: 0;
	color: #999;
	background-color: beige;
	padding: 1em;
	display: block;
	font-weight: bold;
}

div.levelSelect a img {
	opacity: .5;
}

div.levelSelect a:hover {
	text-decoration: none;
	border: 1px solid black;
}

div.levelSelect a:hover img {
	opacity: 1;
}

div.levelSelect a:hover p.title {
	color: black;
}


div.levelSelect a p.title.good {
	background-color: lightgreen;
}


div.levelSelect a p.title.bad {
	background-color: salmon;
}

.headerMessage {
	text-align: center;
	color: darkblue;
	background-color: #efefef;
	padding: 1em;
	font-size: 120%;
}

a img {
	border: 0;
}

